        /* Estilo que aplica al cuerpo de la página */
        body {
            background-color: #0000;
            color: white;
        }
        div {
            border: 3px dashed white;
            padding: 0.7%;
            margin: 3%;
        }
        .containier {
            margin: 1%;
        }
        .titulo {
            font-weight: 100;
        }