        /* Estilo que aplica al cuerpo de la página */
        body {
            background-color: #0000;
            color: white;
        }
        div {
            border: 3px dashed white;
            padding: 0.7%;
            margin: 3%;
        }
        .containier {
            margin: 1%;
        }
        @font-face {
            font-family: myFont; /* salmon hamburger font*/
            src: url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.eot");
            src: url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.eot?#iefix")format("embedded-opentype"),
            url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.woff2")format("woff2"),
            url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.woff")format("woff"),
            url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.ttf")format("truetype"),
            url("https://db.onlinewebfonts.com/t/6ca37f5170ad296d17945de93e40258f.svg#Salmon Hamburger")format("svg");
        }
        .titulo {
            font-weight: bold;
            text-align: center;
            font-family: myFont;
            letter-spacing: 3pt;
        }
        .list-cont {
            margin: 1%;
        }