* {
    color: chartreuse;
    background-color: black;
}

h1 {
    color: blueviolet;
    text-align: center;
}

h2 {
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
dl, #lista2 {
    border: 2px solid grey;
}