PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE coches (id INTEGER PRIMARY KEY AUTOINCREMENT, nombre_coche TEXT NOT NULL, img_coche TEXT NOT NULL, velocidad_punta INTEGER NOT NULL, aceleracion REAL NOT NULL, consumo REAL NOT NULL, newtons_par INTEGER NOT NULL, caballos INTEGER NOT NULL, numero_marchas INTEGER NOT NULL, automatico INTEGER NOT NULL, tiene_levas INTEGER NOT NULL, disponible INTEGER DEFAULT 1, precio_por_dia REAL DEFAULT 0);
INSERT INTO coches VALUES(1,'Lambo Hurac├ín','lambohuracan.jpg',325,2.899999999999999912,12.0,720,640,7,1,1,1,0.0);
INSERT INTO coches VALUES(2,'Ferrari 488 GTB','ferrari488gtb.jpg',330,3.0,13.0,760,670,7,1,1,1,0.0);
INSERT INTO coches VALUES(3,'Porsche 911 Turbo S','porsche911.jpg',315,2.700000000000000177,11.5,800,650,8,1,1,1,0.0);
CREATE TABLE usuarios (id INTEGER PRIMARY KEY AUTOINCREMENT, nombre TEXT NOT NULL, apellido TEXT NOT NULL, dni TEXT UNIQUE NOT NULL, correo TEXT UNIQUE NOT NULL, movil TEXT NOT NULL, tipo_usuario INTEGER NOT NULL, contrase├▒a TEXT NOT NULL, profile_img VARCHAR(255) DEFAULT 'default.jpg');
INSERT INTO usuarios VALUES(1,'Diego','Ruiz','45616578L','admin@admin.es','600987123',9,'$2b$10$hOPwwUUrm90fUNCBqzfQYu9xWMKtHRZxAXcW1S95wX86vvrnUhxga','profile_6_1742905686129.png');
INSERT INTO usuarios VALUES(2,'Sergio','Salinas','78652198P','sergo@admin.es','600123789',0,'$2b$10$Cn2csrtlL0/6mUf.c7qF0OhWMA0xF.bcHWzmEHo/txL0/wl.cQ2wa','profile_8_1743075429288.png');
CREATE TABLE alquileres (id INTEGER PRIMARY KEY AUTOINCREMENT, id_usuario INTEGER NOT NULL, id_coche INTEGER NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE NOT NULL, precio_total REAL NOT NULL, estado INTEGER NOT NULL DEFAULT 1, FOREIGN KEY (id_usuario) REFERENCES usuarios (id), FOREIGN KEY (id_coche) REFERENCES coches (id));
INSERT INTO alquileres VALUES(1,'78652198P',5,'2025-03-28','2025-03-29',0.0,0);
INSERT INTO alquileres VALUES(2,'78652198P',6,'2025-03-28','2025-03-29',0.0,0);
INSERT INTO alquileres VALUES(3,'45616578L',1,'2025-03-31','2025-04-01',0.0,0);
INSERT INTO sqlite_sequence VALUES('coches',39);
INSERT INTO sqlite_sequence VALUES('usuarios',8);
INSERT INTO sqlite_sequence VALUES('alquileres',3);
COMMIT;
