.home {
    text-align: left;
    padding: 20px;
  }
  
  .home ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home ul li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  