body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001f3f; /* Noche estrellada */
  color: #d3d3d3; /* Blanco sucio */
}

h1, h2 {
  text-align: center;
  color: #ffffff;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ff7f50; /* Naranja salmón pálido */
  text-align: left;
  padding: 2px;
}
th, td p {
  text-align: center;
}
th, td div {
  text-align: left;
  padding: 8px;
}


th {
  background-color: #ff7f50; /* Naranja salmón pálido */
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #003366; /* Un tono más oscuro para las filas pares */
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}

.div-formulario {
  background-color: #003366; /* Fondo de los formularios */
  padding: 20px;
  border-radius: 8px;
  width: 20%; /* Cada formulario ocupa el 20% de la página */
  box-sizing: border-box; /* Incluir padding en el ancho total */
}

input[type="text"], input[type="date"], input[type="number"], select {
  margin: 10px 0;
  padding: 10px;
  width: 90%; /* Ancho completo del formulario */
  border: 1px solid #ff7f50; /* Naranja salmón pálido */
  border-radius: 4px;
  background-color: #001f3f; /* Noche estrellada */
  color: #d3d3d3; /* Blanco sucio */
}

.div-formulario-navegacion form {
  width: 25%;
  margin: auto;
}
button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ff7f50; /* Naranja salmón pálido */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6347; /* Un tono más oscuro al pasar el ratón */
}

table.ganancias th, table.ganancias td {
  text-align: center;
}
.ganancias {
  width: 55%;
}
.seccionGanancias {
  margin-top: 60px;
}
.ganancias table tr td {
  padding: 5px;
}
.ganancias table {
  margin-bottom: 50px;
}