body {
    color: white;
    background-color: black;
}
.center {
    text-align: center;
}
#container {
    border: 1px solid white;
    padding: 1%;
    margin: 1px;
    height: 9s0%;
    width: 90%;
}
.c65{
    float: left;
    width: 65%;
    border: 1px solid white;
}
.c25{
    float: right;
    width: 25%;
    border: 1px solid white;
}
div {
    margin: 1%;
}
.cc {
    clear: both;
    margin: 10px;
    border: 1px solid white;
}
