        /* Estilo que aplica al cuerpo de la página */
        body {
            background-color: #ae58bb;
            background-image: url(../img/fondo.jpg);
            color: white;
        }
        #cabecera {
            border: 1px solid white;
            width: 50%;
            float: left;
            margin-left: 25%;
            clear: left;
        }
        .contenido {
            clear:both;
        }
        header {
            text-align: center;
        }
        .mitad {
            width: 49%;
            float: left;
        }
        .titulo {
            font-style: oblique;
            text-align: center;
            text-decoration: double;
        }

 
        