.divAzul{
    background-color: aquamarine;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.divVerde{
    background-color: rgb(111, 238, 111);
    border: solid 3px black;
    float: left;
}
.divVerde2{
    background-color: rgb(111, 238, 111);
    border: solid 3px black;
    width: 40%;
    float: right;
}
.divVerde3{
    background-color: rgb(111, 238, 111);
    border: solid 3px black;
    
}
.txtR1{
    color:red;
}
.txtR2{
    color:red;
    font-style: italic;
}