body {
  margin: 0;
}
/* Estilo general de la página */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
  }
  
  /* Carrusel de imágenes */
  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }
  
  .carousel-image.active {
    opacity: 1;
    z-index: 2;
  }
  
  /* Overlay para el texto */
  .overlay {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* Fondo semitransparente para el texto */
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .overlay p {
    font-size: 1.5rem;
  }
  
  /* Botón de "Ver Catálogo" */
.ver-catalogo-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: #e2b007;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .ver-catalogo-button:hover {
    background: #d49f07;
  }
  