/* Estilo del contenedor */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* Título del formulario */
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e2b007;
  }
  
  /* Estilo del formulario */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .login-form input,
  .login-form button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  
  .login-form input {
    background: #333;
    color: white;
  }
  
  .login-form button {
    background: #e2b007;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form button:hover {
    background: #d49f07;
  }
  