body {
    background-color: #f4f4f4;
}
.center {
    text-align: center;
}
#container {
    border: 1px solid black;
    padding: 1%;
    margin-left: 2.5%;
    margin-right: 5%;
    height: 9s0%;
    width: 90%;
}
.c65{
    float: left;
    width: 65%;
    border: 1px solid black;
}
.c25{
    float: right;
    width: 25%;
    border: 1px solid white;
    background-color: #D32F2F;
    color: #228B22;
}
div {
    margin: 1%;
}
a, h1 {
    color: #FFEB3B;
}
.cc {
    clear: both;
    border: 1px solid white;
    background-color: #D32F2F;
    color: #228B22;
}
dl {
    margin-left: 5%;
}
.cimg {
    float: left;
    margin-left: 43%;
    border: 5px double black;
    padding: 0.5%;
}
.fin {
    clear:both;
}
.cenimg {
    margin-left: 25%;
    float: left;
}
