body {
    color: white;
    background-color: black;
}
.center {
    text-align: center;
}
#container {
    border: 1px solid white;
    padding: 1%;
    margin: 1px;
}
.c65 {
    float: left;
    width: 65%;
}
