body {
    font-family: Arial, sans-serif;
}

#chat-window {
    width: 45%;
    height: 400px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-bottom: 10px;
    float: left;
    margin-right: 5%;
}
#chat-private {
    width: 45%;
    height: 400px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.message-input * {
    margin: auto;
    width: 75%;
}

#message-input {
    width: calc(45% - 110px);
}

button {
    width: 100px;
}
