.container {
    width: 95%;
}
.center {
    text-align: center;
}
table {
    border: 3px double black;
    border-collapse: collapse;
    text-align: center;
    padding: 1%;
    width: 100%;
}
td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
form {
    border: 3px black;
    border-style: dashed;
    overflow: hidden;
}
fieldset {
    width: 45%;
    margin-left: 2%;
    margin-bottom: 1%;
    border: 1px solid black;
    height: 100%;
}
.datospersonales {
    float: left;
}
.datosconsulta {
    float: left;
}
.web {
    clear:both;
    border: 5px dashed black;
    margin: 5%;
    padding: 1%;
    margin-left: 15%;
    width: 70%;
    height: 300px;
}
input {
    padding: 0.5%;
    margin: 0.5%;
    width: 30%;
}
