        /* Estilo que aplica al cuerpo de la página */
        body {
            background-color: #ae58bb;
        }

        h2 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .encabezado {
            color: blue;
            font-size: 50px;
        }
        button {
            display: line;
        }


        .clase1 {
            text-align: right;
            border: 3px solid red;
            background-color: #f68f8f;
        }

        /* Estilo que aplica al elemento con el id spanId */
        #spanId {
            font-size: smaller;
            color: chartreuse;
        }