/* Estilo que aplica al cuerpo de la página */
body {
background-color: black;
color: green;
}

.titulo {
    color: green;
    text-align: center;
    animation-name: titulo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-size: 50pt;
}
@keyframes titulo {
    0% {
        color: white;
        margin-left: 100%;
    }
    25% {
        color: green;
    }
    50% {
        color: orange;
        margin-left: -80%;
    }
    100% {
        color: green;
        margin-left: -10%;
    }   
}

/* menu superior */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #11115f;
    color: orange;
    text-align: right;
    padding: 10px 0;
    z-index: 1000;
    height: 75px;
}

.header nav {
    margin-top: 0px;
    margin-right: 0.5%;
}
.header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding-right: 5%;
    color: #ff4500;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a:hover {
    background-color: #1f5f1f;
    color: green;
    font-size: 20pt;
}

.cuerpo {
    margin-top: 80px;
    width: 65%;
    margin: auto;
    padding-top: 2%;
}
.verde-izquierda {
    text-align: end;
    margin-right: -75px;
}
.titulo-naranja-derecha {
    color: orange;
}
.naranja-derecha {
    color: orange;
    font-size: 10pt;
}
.cuerpo img {
    margin-right: 5%;
    margin-left: 5%;
}


.footer {
    background-color: rgba(0, 0, 0, 0.116);
    color: orange;
    margin: auto;
    height: 55px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.formulario {
    width: 65%;
    margin: auto;
}
.formulario fieldset {
    border: 0px;
}
.formulario legend {
    margin-left: -55px;
    border: 0px;
    color: orange;
}
.formulario input {
    padding: 0.5%;
    background-color: white;
    color: rgb(105, 105, 10);
}
.email:invalid {
    background-color: yellow;
}
.verde-derecha {
    text-align: left;
    color: green;
    margin: 0.3%;
}